
 .full-height {
    height: 90vh;
    display: flex;
    align-items: stretch;
}

.equal-height {
    display: flex;
    flex-direction: column;
    height: 100%;
}

#gameIframe {
    height: 100%;
    width: 100%;
    border: none;
}

#blocklyDiv {
    height: 65vh;
    width: 100%;
    overflow: hidden;
}