
 .full-height {
    height: 90vh;
    display: flex;
    align-items: stretch;
}

.equal-height {
    display: flex;
    flex-direction: column;
    height: 100%;
}

#gameIframe {
    height: 100%;
    width: 100%;
    border: none;
}

#blocklyDiv {
    height: 65vh;
    width: 100%;
    overflow: hidden;
}

#maze {
    display: block;
    margin: 0 auto;
  }

  #message {
    position: absolute;
    top: 20px;
    left: 50%;
    transform: translateX(-50%);
    font-size: 24px;
    font-weight: bold;
    color: white;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.7);
  }